@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
    font-size: 16px;
    width: 100%;
    font-family: sans-serif;
    background-color: #34568B;
    overflow-x: hidden;
}

.sidebar{
    z-index: 1;
    position: fixed;
    width: 270px;
    left: -270px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
  }
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid #323bb9;
    color: #323bb9;
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .active{
    background-color: rgb(94, 148, 179);
  }
  #check{
    display: none;
}

label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin:9px 9px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  margin-left: 280px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel{
  margin-left: 280px;
  opacity: 1;
  visibility: visible;
}

nav {
  height: 65px;
  background-color: #222831;
  overflow: hidden;
  border-bottom: 3px solid black;

}
  
nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 2vw;
  text-decoration: none;
  font-size: 30px;
  border-left: 3px solid black;
}

img{
  width: 92.5%;
}

article{
  width: 92.5%;
  margin:0 auto;
}
#frontimg{
  width: 100%;
  border-bottom: solid 7px rgb(48, 48, 48);
}
.Tickets{
  background-color: rgb(94, 148, 179);
}
h1{
  font-size: 9vw;
}

p{
  margin-bottom: 20px;
}

h2{
  margin-bottom: 30px;
  font-size: 5vw;
  color: white;
  border-bottom: solid black 2px;
}

h3{
  font-size: 1.5vw;
  color: #ffff;
  margin: 0 0 10px 0;
}

.geschiedenis{
  display: flex;
  font-size: 1.3vw;
  margin-top: 10px;
  padding: 20px 85px;
  position: relative;
  margin:0 auto;
  border: 3px solid black;
  border-radius: 5px;
}

.geschiedenisvlak1{
  color: rgb(160, 160, 160);
  padding-right: 20px;
  border-right: solid 1px black;

}

.geschiedenisvlak2{
  color: rgb(160, 160, 160);
  padding-left: 20px;
  border-left: solid 1px black;
}

.geschiedenisImage{
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slidebackground{
background-color: rgb(231, 231, 231);
margin: 0 auto 10px;
width: 75vw;
height: 50vw;
border-radius: 12px;
border: solid 7px black;
}

#plaatjes{
  margin: 0 auto 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  animation-name: fotoslider;
  animation-duration: 45s;
  animation-iteration-count: infinite;
}

@keyframes fotoslider {
  0%{
    opacity: 0;
    background-image: url("../img/slide1.jpeg");
  }
  2%{
    opacity: 1;
    background-image: url("../img/slide1.jpeg");
  }
  7%{
    opacity: 1;
    background-image: url("../img/slide1.jpeg");
  }
  9%{
    opacity: 0;
    background-image: url("../img/slide1.jpeg");
  }
  10%{
    opacity: 0;
    background-image: url("../img/Slides2.jpeg");
  }
  12%{
    opacity: 1;
    background-image: url("../img/Slides2.jpeg");
  }
  17%{
    opacity: 1;
    background-image: url("../img/Slides2.jpeg");
  }
  19%{
    opacity: 0;
    background-image: url("../img/Slides2.jpeg");
  }
  20%{
    opacity: 0;
    background-image: url("../img/Slide3.jpeg");
  }
  22%{
    opacity: 1;
    background-image: url("../img/slide3.jpeg");
  }
  27%{
    opacity: 1;
    background-image: url("../img/slide3.jpeg");
  }
  29%{
    opacity: 0;
    background-image: url("../img/slide3.jpeg");
  }
  30%{
    opacity: 0;
    background-image: url("../img/slide4.jpeg");
  }
  32%{
    opacity: 1;
    background-image: url("../img/Slide4.jpeg");
  }
  37%{
    opacity: 1;
    background-image: url("../img/slide4.jpeg");
  }
  39%{
    opacity: 0;
    background-image: url("../img/Slide4.jpeg");
  }
  40%{
    opacity: 0;
    background-image: url("../img/Slide5.jpeg");
  }
  42%{
    opacity: 1;
    background-image: url("../img/Slide5.jpeg");
  }
  47%{
    opacity: 1;
    background-image: url("../img/slide5.jpeg");
  }
  49%{
    opacity: 0;
    background-image: url("../img/slide5.jpeg");
  }
  50%{
    opacity: 0;
    background-image: url("../img/slide6.jpeg");
  }
  52%{
    opacity: 1;
    background-image: url("../img/slide6.jpeg");
  }
  57%{
    opacity: 1;
    background-image: url("../img/slide6.jpeg");
  }
  59%{
    opacity: 0;
    background-image: url("../img/Slide6.jpeg");
  }
  60%{
    opacity: 0;
    background-image: url("../img/Slide7.jpeg");
  }
  62%{
    opacity: 1;
    background-image: url("../img/Slide7.jpeg");
  }
  67%{
    opacity: 1;
    background-image: url("../img/slide7.jpeg");
  }
  69%{
    opacity: 0;
    background-image: url("../img/Slide7.jpeg");
  }
  70%{
    opacity: 0;
    background-image: url("../img/slides8.jpeg");
  }
  72%{
    opacity: 1;
    background-image: url("../img/slides8.jpeg");
  }
  77%{
    opacity: 1;
    background-image: url("../img/slides8.jpeg");
  }
  79%{
    opacity: 0;
    background-image: url("../img/slides8.jpeg");
  }
  80%{
    opacity: 0;
    background-image: url("../img/Slide9.jpeg");
  }
  82%{
    opacity: 1;
    background-image: url("../img/Slide9.jpeg");
  }
  87%{
    opacity: 1;
    background-image: url("../img/slide9.jpeg");
  }
  89%{
    opacity: 0;
    background-image: url("../img/Slide9.jpeg");
  }
  90%{
    opacity: 0;
    background-image: url("../img/Slide10.jpeg");
  }
  92%{
    opacity: 1;
    background-image: url("../img/slide10.jpeg");
  }
  97%{
    opacity: 1;
    background-image: url("../img/slide10.jpeg");
  }
  99%{
    opacity: 0;
    background-image: url("../img/slide10.jpeg");
  }
  100%{
    opacity: 0;
    background-image: url("../img/slide1.jpeg");
  }
}

.route,.slides,.geschiedenisTitle{
  margin: 0 auto;
  width: 92.5%;
}

#map{
  width: 100%;
  height: 45vw;
  object-fit: contain;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 40px 0 0 0;

}

.slidesimg{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.mySlides>a{
  height: 100%;
  width: 100%;
  display: block;
  
}

.mySlides {
  display: none;
  height: 85vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

#black, #black2{
  color: black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 55px 15px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.mid-left{
  position: absolute;
  transform: translate(18vw, 10vw);
  width: 12vw;

}

.mid-right{
  position: absolute;
  transform: translate(69vw, 10vw);
  width: 12vw;
}

.info{
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 32vw;
  padding: 10px;
  border: 4px solid black;
  background-color: rgb(99, 99, 99);
}

#container2{
  background-color: #222831;
  width: 60.4vw;
  height: 50.4vw;
  margin:25px auto;
  grid-template-columns: auto auto auto;
  border: solid 5px black;
  border-radius: 5px;
}

.column {
  float: left;
  width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#myimage{
  border-right: solid 5px black;
}

#myimage, #map2{
  border-bottom: solid 5px black;
  height: 19.85vw;
  width: 29.9vw;
  object-fit: cover;
}
#mytitle{
  color: white;
  border-bottom: none;
  font-size: 4vw;
}
#myinteraction{
  padding: 10px;
  display: block;
}
#nav{
  color: darkgray;
  margin-bottom: 5vw;
}

div button{
  background-color: rgb(94, 148, 179);
  color: white;
  padding: 10px;
}

div button:hover{
  cursor: pointer;
}

#KnopNoord, #KnopZuid{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px;
  font-size: 1.5vw;
  display:block;
  width: 50%;
  height: 4vw;
  margin: auto;
}

#KnopNoord{
border-bottom-right-radius: 0;
border-bottom-left-radius:  0;
border-top-right-radius: 20px;
border-top-left-radius:  20px;
}
#KnopOost, #KnopWest{
  margin-right: 0;
  font-size: 1.5vw;
  display:inline-block;
  width: 25%;
  height: 4vw;
}
#KnopWest{
  margin-right: 0;
  margin-left: 25%;
}

footer{
  justify-content: space-between;
  display: flex;
  margin-top: 9px;
  bottom: 0;
  background-color: #262626;
  width: 100%;
  font-size: 200%;
}
.footerNavigation{
  list-style: none;
}

footer>ul div{
  border: solid 2px  white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-style: italic;
  background-color: transparent;
  color: white;
  text-decoration: none;
}

footer>ul .lastli{
  margin: 0;
}

footer>ul a:hover{
  border:none;
}

footer>ul div:hover{
  border: solid 2px  black;
  background-color: white;
  color: black;
  cursor: pointer;
}

.contactinfo{
  color: white;
  list-style: none;
}
li{
  list-style: none;
}
footer ul{
  padding: 10px 60px;
}

footer ul a{
  color: darkgray;
}

footer ul a:hover{
  color: gray;
}

@media screen and (max-width:1650px) {
  .title{
    font-size: 30vw;
  }
  .container{
    height: 100vh;
  }
  #frontimg{
    object-fit: cover;
    height: 100%;
  }
  footer{
    display: inline-block;
    font-size: 130%;
  }
  .footerNavigationItem{
    width: 150px;
  }
  footer ul{
    padding: 10px;
  }
  .socials{
    display: inline-table;
  }
  #KnopWest,#KnopNoord,#KnopOost,#KnopZuid{
    height: 70px;
  }  
  #nav{
    font-size: 3vw;
  }
  .column {
    float: left;
    width: 100%;
  }  
  #myimage{
    margin-bottom: 0;
    height: 40vw;
    width: 100%;
  }
  #map2{
    padding-top: 0;
    border: solid 5px black;
    margin-left: 9%;
    height: 35vw;
    width: 80%;
    }
  #container2{
    margin-bottom: 0;
    width: 80.9vw;
    height: 100%;
    border-radius: 5px;
  }  
  h2{
    font-size: 10vw;
    padding: 10px 0 3px 0;
    margin-bottom: 0;
  }
  .geschiedenis{
    padding: 10px 20px;
    padding: 0;
    display: inline;
    font-size: 1.5vw;
  }

  .geschiedenisvlak2, .geschiedenisvlak1{
    padding: 10px 0;
    margin: 0 auto;
    border: none;
    width: 90vw;
  }
}
@media screen and (max-width:760px) {
  label #btn{
    height: 70px;
    width: 70px ;
    font-size: 50px;
    padding-top: 12px;
  }
  nav{
    height:100px;
  }
  #KnopWest,#KnopNoord,#KnopOost,#KnopZuid{
    height: 66px;
    font-size: 6vw;
  }
  h2{
    margin-bottom: 10px;
  }  
  #mytitle{
    font-size: 10vw;
  }
  #map,#plaatje,.slidebackground{
    width: 100%;
    height: 250px;
  }
  #nav{
    font-size: 6vw;
  }
  nav a {
    padding: 31px;
  }
  .column {
    width: 100%;
  }  
  #myimage{
    border: none;
    height: 60vw;
    width: 100%;
  }
  #map2{
    border: none;
    margin-left: 0;
    height: 60vw;
    width: 100%;
    }
  #container2{
    border:none;
    margin-top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  h3{
    font-size: 5vw;
  }
  .geschiedenis{
    font-size: 4vw;
  }
}